.App {
  margin: 25px 15%;

  .flex {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .flex>* {
    margin: 20px;
    width: 40%;
  }

  button {
    margin: 10px 0;
  }
}